<html>
   <head>
      <link rel="stylesheet" href="/public/css/style.css">
   </head>

   <body>
      <div class="row">
         <div class="column side">
         </div>
         <div class="column middle">
            <form action = "http://localhost:8000/uploader" method = "POST" 
            enctype = "multipart/form-data">
               <h3>Choose your target language:</h3>

               <select name="language" id="language">
                  <option value="FR">FRENCH</option>
                  <option value="DE">GERMANY</option>
               </select>
               <br>
               <h3>Choose your srt file that you want to translate:</h3>
               <input type = "file" name = "file" required/>
               <br>
               <input type = "submit"  value="Translate"/>
            </form>  
         </div> 
         <div class="column side">
         </div>
      </div>

   </body>
</html>